In [5]:
import pandas as pd

fileName = 'vehicle_emission_1.xls'
rawDataset = pd.read_excel(fileName, index_col=0)
rawDataset

,Make,Yr,FuelType,VehicleUse,CO,CO2,O2,HC,lamda,Study,OGEPA,Age,VehicleType,EUROII,NESREAI,AFR,NESREAII,EUROIII
SN,,,,,,,,,,,,,,,,,,
1,Honda,2006,Petrol,Commercial,0.00,13.5,1.55,0,1.08,Passed,Passed,8,Car,Passed,Passed,15.876,Passed,Passed
2,Honda,2007,Petrol,Commercial,0.00,14.7,0.08,10,1.00,Passed,Passed,7,Jeep,Passed,Passed,14.744,Passed,Passed
3,Toyota,2011,Petrol,Commercial,0.00,14.6,0.72,1,1.04,Passed,Passed,3,Car,Passed,Passed,15.244,Passed,Passed
4,Toyota,1998,Petrol,Official,0.00,10.2,3.15,1,1.22,Passed,Passed,16,Car,Passed,Passed,17.934,Passed,Passed
5,Toyota,2002,Petrol,Official,0.00,14.5,0.60,1,1.03,Passed,Passed,12,Car,Passed,Passed,15.141,Passed,Passed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,Nissan,1989,Petrol,Official,10.02,6.8,2.94,1555,0.78,Failed,Failed,25,Car,Failed,Failed,11.481,Failed,Failed
2972,Honda,1988,Petrol,Official,10.07,8.2,1.62,737,0.77,Failed,Failed,26,Car,Failed,Failed,11.334,Failed,Failed
2973,Nissan,1992,Petrol,Private,10.11,8.8,1.56,585,0.78,Failed,Failed,22,Car,Failed,Failed,11.466,Failed,Failed
2974,Toyota,2000,Petrol,Official,10.14,7.2,3.27,876,0.82,Failed,Failed,14,Car,Failed,Failed,11.981,Failed,Failed
2975,Toyota,2004,Petrol,Commercial,10.16,8.6,1.27,712,0.77,Failed,Failed,10,Bus,Failed,Failed,11.246,Failed,Failed

In [6]:
rawDataset.columns

Index(['Make', 'Yr', 'FuelType', 'VehicleUse', 'CO', 'CO2', 'O2', 'HC',
       'lamda', 'Study', 'OGEPA', 'Age', 'VehicleType', 'EUROII', 'NESREAI',
       'AFR', 'NESREAII', 'EUROIII'],
      dtype='object')

In [7]:
prefix = ['Make', 'FuelType', 'VehicleUse', 'Study', 'OGEPA', 'VehicleType', 'EUROII', 'NESREAI', 'NESREAII', 'EUROIII']

dataset = rawDataset.copy()
dataset = pd.get_dummies(dataset, prefix=prefix, prefix_sep='_')
dataset

,Yr,CO,CO2,O2,HC,lamda,Age,AFR,Make_Honda,Make_Mazda,...,VehicleType_Jeep,VehicleType_PICK-UP,EUROII_Failed,EUROII_Passed,NESREAI_Failed,NESREAI_Passed,NESREAII_Failed,NESREAII_Passed,EUROIII_Failed,EUROIII_Passed
SN,,,,,,,,,,,,,,,,,,,,,
1,2006,0.00,13.5,1.55,0,1.08,8,15.876,1,0,...,0,0,0,1,0,1,0,1,0,1
2,2007,0.00,14.7,0.08,10,1.00,7,14.744,1,0,...,1,0,0,1,0,1,0,1,0,1
3,2011,0.00,14.6,0.72,1,1.04,3,15.244,0,0,...,0,0,0,1,0,1,0,1,0,1
4,1998,0.00,10.2,3.15,1,1.22,16,17.934,0,0,...,0,0,0,1,0,1,0,1,0,1
5,2002,0.00,14.5,0.60,1,1.03,12,15.141,0,0,...,0,0,0,1,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2971,1989,10.02,6.8,2.94,1555,0.78,25,11.481,0,0,...,0,0,1,0,1,0,1,0,1,0
2972,1988,10.07,8.2,1.62,737,0.77,26,11.334,1,0,...,0,0,1,0,1,0,1,0,1,0
2973,1992,10.11,8.8,1.56,585,0.78,22,11.466,0,0,...,0,0,1,0,1,0,1,0,1,0
2974,2000,10.14,7.2,3.27,876,0.82,14,11.981,0,0,...,0,0,1,0,1,0,1,0,1,0
2975,2004,10.16,8.6,1.27,712,0.77,10,11.246,0,0,...,0,0,1,0,1,0,1,0,1,0

In [12]:
# dfw.to_excel("result.xlsx")
ofileName = 'o' + fileName
with pd.ExcelWriter(ofileName) as writer:  
    dataset.to_excel(writer, sheet_name='Sheet1')

ModuleNotFoundError: No module named 'xlwt'