In [8]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [9]:
fileName = 'ovehicle_emission_1.xls'
rawDataset = pd.read_excel(fileName, index_col=0)
rawDataset

,SN,Make,Yr,FuelType,VehicleUse,CO,CO2,O2,HC,lamda,...,Age_A,CO_A,CO2_A,O2_A,HC_A,Age_N,CO_N,CO2_N,O2_N,HC_N
1,1,Honda,2006,Petrol,Commercial,0.00,13.5,1.55,0,1.08,...,0.507334,0.000000,0.856125,0.098296,0.000000,0.007586,0.000000,0.021640,0.005918,0.000000
2,2,Honda,2007,Petrol,Commercial,0.00,14.7,0.08,10,1.00,...,0.366348,0.000000,0.769332,0.004187,0.523355,0.006638,0.000000,0.023564,0.000305,0.000628
3,3,Toyota,2011,Petrol,Commercial,0.00,14.6,0.72,1,1.04,...,0.200590,0.000000,0.976205,0.048142,0.066863,0.002845,0.000000,0.023403,0.002749,0.000063
4,4,Toyota,1998,Petrol,Official,0.00,10.2,3.15,1,1.22,...,0.830721,0.000000,0.529584,0.163548,0.051920,0.015172,0.000000,0.016350,0.012027,0.000063
5,5,Toyota,2002,Petrol,Official,0.00,14.5,0.60,1,1.03,...,0.636347,0.000000,0.768920,0.031817,0.053029,0.011379,0.000000,0.023243,0.002291,0.000063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2761,2796,Toyota,1987,Petrol,Private,4.49,5.8,11.29,603,1.51,...,0.044720,0.007437,0.009607,0.018700,0.998751,0.025603,0.058813,0.009297,0.043108,0.037891
2762,2797,Toyota,2007,Petrol,Commercial,4.51,11.9,0.47,388,0.88,...,0.018029,0.011616,0.030649,0.001210,0.999299,0.006638,0.059075,0.019075,0.001795,0.024381
2763,2798,Nissan,1984,Petrol,Private,4.51,10.9,1.55,203,0.93,...,0.145950,0.021941,0.053029,0.007541,0.987597,0.028447,0.059075,0.017472,0.005918,0.012756
2764,2799,Nissan,1986,Petrol,Private,4.55,9.9,3.44,679,1.00,...,0.041196,0.006694,0.014566,0.005061,0.999010,0.026551,0.059599,0.015869,0.013135,0.042666
2765,2800,Nissan,1989,Petrol,Official,4.65,8.3,5.61,138,1.13,...,0.177708,0.033054,0.058999,0.039878,0.980947,0.023706,0.060909,0.013305,0.021420,0.008671

In [10]:
dataset = rawDataset.copy()

In [11]:
dataset.columns

Index(['SN', 'Make', 'Yr', 'FuelType', 'VehicleUse', 'CO', 'CO2', 'O2', 'HC',
       'lamda', 'Study', 'OGEPA', 'Age', 'VehicleType', 'EUROII', 'NESREAI',
       'AFR', 'NESREAII', 'EUROIII', 'Make_N', 'FuelType_N', 'VehicleUse_N',
       'Study_N', 'OGEPA_N', 'VehicleType_N', 'EUROII_N', 'NESREAI_N',
       'NESREAII_N', 'EUROIII_N', 'Make_Honda', 'Make_Mazda',
       'Make_Mercedez B', 'Make_Mitsubushi', 'Make_Nissan', 'Make_Peugeot',
       'Make_Toyota', 'Make_Volkswagen', 'FuelType_Petrol',
       'VehicleUse_Commercial', 'VehicleUse_Official', 'VehicleUse_Private',
       'Study_Failed', 'Study_Passed', 'OGEPA_Failed', 'OGEPA_Passed',
       'VehicleType_Bullion V', 'VehicleType_Bus', 'VehicleType_CABSTAR',
       'VehicleType_Car', 'VehicleType_Jeep', 'VehicleType_PICK-UP',
       'VehicleType_TRUCK', 'EUROII_Failed', 'EUROII_Passed', 'NESREAI_Failed',
       'NESREAI_Passed', 'NESREAII_Failed', 'NESREAII_Passed',
       'EUROIII_Failed', 'EUROIII_Passed', 'Age_S', 'CO_S', 'CO2_S', 'O2_S',
       'HC_S', 'Age_X', 'CO_X', 'CO2_X', 'O2_X', 'HC_X', 'Age_A', 'CO_A',
       'CO2_A', 'O2_A', 'HC_A', 'Age_N', 'CO_N', 'CO2_N', 'O2_N', 'HC_N'],
      dtype='object')

In [25]:
dfx = dataset[['CO_X','CO2_X', 'O2_X', 'HC_X', 'Age_X','Make_Honda', 'Make_Mazda',
       'Make_Mercedez B', 'Make_Mitsubushi', 'Make_Nissan', 'Make_Peugeot',
       'Make_Toyota', 'Make_Volkswagen']]

dfx = dfx.loc[::20, :]
dfx

,CO_X,CO2_X,O2_X,HC_X,Age_X,Make_Honda,Make_Mazda,Make_Mercedez B,Make_Mitsubushi,Make_Nissan,Make_Peugeot,Make_Toyota,Make_Volkswagen
1,0.000000,0.851613,0.061249,0.000000,0.162162,1,0,0,0,0,0,0,0
21,0.000000,0.787097,0.113691,0.000393,0.270270,0,0,0,0,1,0,0,0
41,0.002151,0.800000,0.153323,0.003141,0.378378,0,0,0,0,0,0,1,0
61,0.002151,0.593548,0.085669,0.005104,0.567568,0,0,0,0,1,0,0,0
81,0.002151,0.032258,0.086069,0.000393,0.378378,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2681,0.722581,0.664516,0.151721,0.056537,0.540541,0,0,1,0,0,0,0,0
2701,0.737634,0.748387,0.054444,0.069494,0.540541,1,0,0,0,0,0,0,0
2721,0.782796,0.754839,0.035228,0.182175,0.270270,0,0,0,0,0,0,1,0
2741,0.862366,0.774194,0.017614,0.095799,0.189189,0,0,0,0,0,0,1,0
2761,0.965591,0.354839,0.451161,0.236749,0.675676,0,0,0,0,0,0,1,0

In [26]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

i = 4

# Load the vehicle dataset
X, y = dfx.iloc[:,i:], dfx.iloc[:,:i]

# Use only one feature
# X = X[:, np.newaxis, 2]

# Split the data into training/testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=21)

# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

# Make predictions using the testing set
y_pred = regr.predict(X_test)

# The coefficients
print('Coefficients: \n', regr.coef_)

# The mean squared error
print('Mean squared error: %.2f' % mean_squared_error(y_test, y_pred))

# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f' % r2_score(y_test, y_pred))

Coefficients:
 [[ 0.07736172  0.03563932  0.01066393  0.11598557 -0.08740436 -0.02805387
  -0.18298393  0.04317116  0.09298218]
 [-0.19144467  0.09969356  0.01760639  0.00157307 -0.01964517  0.01408923
  -0.17811401  0.0531001   0.01169682]
 [ 0.1884772  -0.09423583  0.00905478 -0.01940224  0.01525605 -0.03557095
   0.20169206 -0.04213292 -0.03466097]
 [ 0.1484224  -0.05033416 -0.02307358 -0.05872376  0.00092692 -0.04327676
   0.16650702 -0.02126329  0.02923762]]
Mean squared error: 0.03
Coefficient of determination: 0.07