In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
fileName = 'ovehicle_emission_1.xls'
rawDataset = pd.read_excel(fileName, index_col=0)
rawDataset

,SN,Make,Yr,FuelType,VehicleUse,CO,CO2,O2,HC,lamda,...,Age_A,CO_A,CO2_A,O2_A,HC_A,Age_N,CO_N,CO2_N,O2_N,HC_N
1,1,Honda,2006,Petrol,Commercial,0.00,13.5,1.55,0,1.08,...,0.507334,0.000000,0.856125,0.098296,0.000000,0.007586,0.000000,0.021640,0.005918,0.000000
2,2,Honda,2007,Petrol,Commercial,0.00,14.7,0.08,10,1.00,...,0.366348,0.000000,0.769332,0.004187,0.523355,0.006638,0.000000,0.023564,0.000305,0.000628
3,3,Toyota,2011,Petrol,Commercial,0.00,14.6,0.72,1,1.04,...,0.200590,0.000000,0.976205,0.048142,0.066863,0.002845,0.000000,0.023403,0.002749,0.000063
4,4,Toyota,1998,Petrol,Official,0.00,10.2,3.15,1,1.22,...,0.830721,0.000000,0.529584,0.163548,0.051920,0.015172,0.000000,0.016350,0.012027,0.000063
5,5,Toyota,2002,Petrol,Official,0.00,14.5,0.60,1,1.03,...,0.636347,0.000000,0.768920,0.031817,0.053029,0.011379,0.000000,0.023243,0.002291,0.000063
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2761,2796,Toyota,1987,Petrol,Private,4.49,5.8,11.29,603,1.51,...,0.044720,0.007437,0.009607,0.018700,0.998751,0.025603,0.058813,0.009297,0.043108,0.037891
2762,2797,Toyota,2007,Petrol,Commercial,4.51,11.9,0.47,388,0.88,...,0.018029,0.011616,0.030649,0.001210,0.999299,0.006638,0.059075,0.019075,0.001795,0.024381
2763,2798,Nissan,1984,Petrol,Private,4.51,10.9,1.55,203,0.93,...,0.145950,0.021941,0.053029,0.007541,0.987597,0.028447,0.059075,0.017472,0.005918,0.012756
2764,2799,Nissan,1986,Petrol,Private,4.55,9.9,3.44,679,1.00,...,0.041196,0.006694,0.014566,0.005061,0.999010,0.026551,0.059599,0.015869,0.013135,0.042666
2765,2800,Nissan,1989,Petrol,Official,4.65,8.3,5.61,138,1.13,...,0.177708,0.033054,0.058999,0.039878,0.980947,0.023706,0.060909,0.013305,0.021420,0.008671

In [3]:
dataset = rawDataset.copy()

In [4]:
dataset.columns

Index(['SN', 'Make', 'Yr', 'FuelType', 'VehicleUse', 'CO', 'CO2', 'O2', 'HC',
       'lamda', 'Study', 'OGEPA', 'Age', 'VehicleType', 'EUROII', 'NESREAI',
       'AFR', 'NESREAII', 'EUROIII', 'Make_N', 'FuelType_N', 'VehicleUse_N',
       'Study_N', 'OGEPA_N', 'VehicleType_N', 'EUROII_N', 'NESREAI_N',
       'NESREAII_N', 'EUROIII_N', 'Make_Honda', 'Make_Mazda',
       'Make_Mercedez B', 'Make_Mitsubushi', 'Make_Nissan', 'Make_Peugeot',
       'Make_Toyota', 'Make_Volkswagen', 'FuelType_Petrol',
       'VehicleUse_Commercial', 'VehicleUse_Official', 'VehicleUse_Private',
       'Study_Failed', 'Study_Passed', 'OGEPA_Failed', 'OGEPA_Passed',
       'VehicleType_Bullion V', 'VehicleType_Bus', 'VehicleType_CABSTAR',
       'VehicleType_Car', 'VehicleType_Jeep', 'VehicleType_PICK-UP',
       'VehicleType_TRUCK', 'EUROII_Failed', 'EUROII_Passed', 'NESREAI_Failed',
       'NESREAI_Passed', 'NESREAII_Failed', 'NESREAII_Passed',
       'EUROIII_Failed', 'EUROIII_Passed', 'Age_S', 'CO_S', 'CO2_S', 'O2_S',
       'HC_S', 'Age_X', 'CO_X', 'CO2_X', 'O2_X', 'HC_X', 'Age_A', 'CO_A',
       'CO2_A', 'O2_A', 'HC_A', 'Age_N', 'CO_N', 'CO2_N', 'O2_N', 'HC_N'],
      dtype='object')

In [11]:
dfx = dataset[['O2_A','CO_A','CO2_A','HC_A', 'Age_A','Make_Honda', 'Make_Mazda',
       'Make_Mercedez B', 'Make_Mitsubushi', 'Make_Nissan', 'Make_Peugeot',
       'Make_Toyota', 'Make_Volkswagen']]

In [17]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

i = 4

# Load the vehicle dataset
X, y = dfx.iloc[:,i:], dfx.iloc[:,:i]

# Use only one feature
# X = X[:, np.newaxis, 2]

# Split the data into training/testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=21)

# Create linear regression object
regr = linear_model.LinearRegression()

# Train the model using the training sets
regr.fit(X_train, y_train)

# Make predictions using the testing set
y_pred = regr.predict(X_test)

# The coefficients
print('Coefficients: \n', regr.coef_)

# The mean squared error
print('Mean squared error: %.2f' % mean_squared_error(y_test, y_pred))

# The coefficient of determination: 1 is perfect prediction
print('Coefficient of determination: %.2f' % r2_score(y_test, y_pred))

Coefficients:
 [[ 2.17083167e-01 -3.31429532e-03  6.37503445e-04 -6.62414598e-03
  -2.48752104e-03 -7.86210254e-03  1.40795087e-02 -2.03660160e-03
   7.60765437e-03]
 [ 1.60979445e-02 -9.85375037e-04  8.60990881e-05  4.85190803e-04
   1.33825863e-04 -7.42599301e-04  3.61282644e-03  1.78961921e-04
  -2.76892978e-03]
 [ 7.11142263e-01  1.32975439e-02 -3.33945636e-02 -2.54314564e-02
  -1.93026326e-02 -2.78512099e-02  2.76243885e-02  3.72906698e-02
   2.77672603e-02]
 [-1.11912067e+00  4.88631955e-03  1.96401805e-02  1.20568476e-02
   9.80654136e-03  2.40974400e-02 -2.66173783e-02 -2.45612987e-02
  -1.93086519e-02]]
Mean squared error: 0.01
Coefficient of determination: 0.43